h1{
	margin-top: 10px;
	 font-weight: bold;
	 font-family: cursive,Helvetica ,serif;

	}
	 #chicken,#Beef,#Sushi{
		background-color: #FAEBD7;
		font-family: cursive,Helvetica ,serif;
		margin-top: 20px ;
		margin-bottom: 20px;
		height: 700px;
		border:7px solid white;
	}
	.row p{
		padding: 5px 10px 5px 10px;
		font-size: 1.2em;
	}
	h3{
		margin-top: 10px;
	}
	.row a{
		position: absolute;
		bottom: 0px;
		right: 0px;
	}